src/MGOT/MGOT-generated.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>ODD by Example customization</title>
         </titleStmt>
         <publicationStmt>
            <p>Unpublished first draft </p>
         </publicationStmt>
         <sourceDesc>
            <p>Derived from an analysis of 1 files from /Users/halalpha/Documents/gits/cbdb-data/src/MGOT</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <schemaSpec ident="oddbyexample" start="TEI ">
            <moduleRef key="tei"/>
            <!--Checking module textcrit-->
            <classRef key="att.textCritical"/>
            <classRef key="model.rdgLike"/>
            <classRef key="model.rdgPart"/>
            <classSpec ident="att.textCritical" type="atts" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="varSeq" mode="delete"/>
                  <attDef ident="require" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module namesdates-->
            <classRef key="model.persNamePart"/>
            <moduleRef key="namesdates" include="orgName persName"/>
            <elementSpec ident="orgName" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="notBefore" mode="delete"/>
                  <attDef ident="notAfter" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="persName" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="notBefore" mode="delete"/>
                  <attDef ident="notAfter" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module dictionaries-->
            <classRef key="att.lexicographic"/>
            <classRef key="model.entryLike"/>
            <classRef key="model.formPart"/>
            <classRef key="model.gramPart"/>
            <classRef key="model.lexicalRefinement"/>
            <classRef key="model.morphLike"/>
            <classRef key="model.ptrLike.form"/>
            <classSpec ident="att.lexicographic" type="atts" mode="change">
               <attList>
                  <attDef ident="expand" mode="delete"/>
                  <attDef ident="norm" mode="delete"/>
                  <attDef ident="split" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="orig" mode="delete"/>
                  <attDef ident="location" mode="delete"/>
                  <attDef ident="mergedIn" mode="delete"/>
                  <attDef ident="opt" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module tagdocs-->
            <macroRef key="macro.schemaPattern"/>
            <classRef key="att.combinable"/>
            <classRef key="att.identified"/>
            <classRef key="model.contentPart"/>
            <classSpec ident="att.combinable" type="atts" mode="change">
               <attList>
                  <attDef ident="mode" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.identified" type="atts" mode="change">
               <attList>
                  <attDef ident="ident" mode="delete"/>
                  <attDef ident="predeclare" mode="delete"/>
                  <attDef ident="module" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.dimensions" type="atts" mode="change">
               <attList>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.damaged" type="atts" mode="change">
               <attList>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="group" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable" type="atts" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.divLike" type="atts" mode="change">
               <attList>
                  <attDef ident="org" mode="delete"/>
                  <attDef ident="sample" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.media" type="atts" mode="change">
               <attList>
                  <attDef ident="width" mode="delete"/>
                  <attDef ident="height" mode="delete"/>
                  <attDef ident="scale" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.naming" type="atts" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="nymRef" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing" type="atts" mode="change">
               <attList>
                  <attDef ident="targetLang" mode="delete"/>
                  <attDef ident="evaluate" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing.group" type="atts" mode="change">
               <attList>
                  <attDef ident="domains" mode="delete"/>
                  <attDef ident="targFunc" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.segLike" type="atts" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.timed" type="atts" mode="change">
               <attList>
                  <attDef ident="start" mode="delete"/>
                  <attDef ident="end" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.transcriptional" type="atts" mode="change">
               <attList>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="seq" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.personal" type="atts" mode="change">
               <attList>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="sort" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module core-->
            <moduleRef key="core" include="p date ptr author editor title publisher bibl"/>
            <elementSpec ident="p" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="date" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="ptr" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="author" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="editor" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="title" mode="change">
               <attList>
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="notBefore" mode="delete"/>
                  <attDef ident="notAfter" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publisher" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="bibl" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module header-->
            <moduleRef key="header"
                       include="teiHeader fileDesc titleStmt publicationStmt availability licence sourceDesc encodingDesc classDecl taxonomy category catDesc"/>
            <elementSpec ident="teiHeader" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="fileDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="titleStmt" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publicationStmt" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="availability" mode="change">
               <attList>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="licence" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="notBefore" mode="delete"/>
                  <attDef ident="notAfter" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sourceDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="encodingDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="classDecl" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="taxonomy" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="category" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module verse-->
            <!--Checking module msdescription-->
            <!--Checking module transcr-->
            <!--Checking module linking-->
            <classRef key="att.global.linking"/>
            <classSpec ident="att.global.linking" type="atts" mode="change">
               <attList>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module analysis-->
            <classRef key="att.global.analytic"/>
            <!--Checking module textstructure-->
            <moduleRef key="textstructure" include="TEI text body"/>
            <elementSpec ident="TEI" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="body" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
         </schemaSpec>
      </body>
   </text>
</TEI>
